<h1>大地360-汽车买卖</h1>

<table border="1" width="1000" id='post_dd_car'>
  <thead>
    <tr>
      <th>标题</th>
      <th>发布时间</th>
      <th>内容</th>
      <th>电话</th>
      <th>价格</th>
      <th>发布来源</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_dd_cars.each do |post_dd_car| %>
      <tr>
        <td><%= post_dd_car.title %></td>
		<td><%= post_dd_car.up_time.strftime("%F") %></td>
        <td><%= post_dd_car.content %></td>
        <td><%= post_dd_car.phone_n %></td>
        <td><%= post_dd_car.rent_m %></td>
        <td><%= post_dd_car.site_source %></td>
        <td><%= link_to 'Show', post_dd_car %></td>
        <td><%= link_to 'Edit', edit_post_dd_car_path(post_dd_car) %></td>
        <td><%= link_to 'Destroy', post_dd_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#post_dd_car').dataTable();
} );
</script>

<br>

<%= link_to 'New Post dd car', new_post_dd_car_path %>
