<h1>Listing post_dd_cars</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ct name</th>
      <th>Unique code</th>
      <th>Detail url</th>
      <th>Upload time</th>
      <th>Content</th>
      <th>Phone n</th>
      <th>Rent m</th>
      <th>Site source</th>
      <th>Up time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_dd_cars.each do |post_dd_car| %>
      <tr>
        <td><%= post_dd_car.title %></td>
        <td><%= post_dd_car.ct_name %></td>
        <td><%= post_dd_car.unique_code %></td>
        <td><%= post_dd_car.detail_url %></td>
        <td><%= post_dd_car.upload_time %></td>
        <td><%= post_dd_car.content %></td>
        <td><%= post_dd_car.phone_n %></td>
        <td><%= post_dd_car.rent_m %></td>
        <td><%= post_dd_car.site_source %></td>
        <td><%= post_dd_car.up_time %></td>
        <td><%= link_to 'Show', post_dd_car %></td>
        <td><%= link_to 'Edit', edit_post_dd_car_path(post_dd_car) %></td>
        <td><%= link_to 'Destroy', post_dd_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post dd car', new_post_dd_car_path %>
