<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_recruit.title %>
</p>

<p>
  <strong>Ct name:</strong>
  <%= @post_recruit.ct_name %>
</p>

<p>
  <strong>Unique code:</strong>
  <%= @post_recruit.unique_code %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @post_recruit.detail_url %>
</p>

<p>
  <strong>Upload time:</strong>
  <%= @post_recruit.upload_time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post_recruit.content %>
</p>

<p>
  <strong>Phone n:</strong>
  <%= @post_recruit.phone_n %>
</p>

<p>
  <strong>Rent m:</strong>
  <%= @post_recruit.rent_m %>
</p>

<p>
  <strong>Site source:</strong>
  <%= @post_recruit.site_source %>
</p>

<p>
  <strong>Up time:</strong>
  <%= @post_recruit.up_time %>
</p>

<%= link_to 'Edit', edit_post_recruit_path(@post_recruit) %> |
<%= link_to 'Back', post_recruits_path %>
