<%= form_for(@post_dd_housale) do |f| %>
  <% if @post_dd_housale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_dd_housale.errors.count, "error") %> prohibited this post_dd_housale from being saved:</h2>

      <ul>
      <% @post_dd_housale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ct_name %><br>
    <%= f.text_field :ct_name %>
  </div>
  <div class="field">
    <%= f.label :unique_code %><br>
    <%= f.text_field :unique_code %>
  </div>
  <div class="field">
    <%= f.label :detail_url %><br>
    <%= f.text_field :detail_url %>
  </div>
  <div class="field">
    <%= f.label :upload_time %><br>
    <%= f.datetime_select :upload_time %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :phone_n %><br>
    <%= f.text_field :phone_n %>
  </div>
  <div class="field">
    <%= f.label :rent_m %><br>
    <%= f.text_field :rent_m %>
  </div>
  <div class="field">
    <%= f.label :site_source %><br>
    <%= f.text_field :site_source %>
  </div>
  <div class="field">
    <%= f.label :up_time %><br>
    <%= f.datetime_select :up_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
