<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_dd_housale.title %>
</p>

<p>
  <strong>Ct name:</strong>
  <%= @post_dd_housale.ct_name %>
</p>

<p>
  <strong>Unique code:</strong>
  <%= @post_dd_housale.unique_code %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @post_dd_housale.detail_url %>
</p>

<p>
  <strong>Upload time:</strong>
  <%= @post_dd_housale.upload_time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post_dd_housale.content %>
</p>

<p>
  <strong>Phone n:</strong>
  <%= @post_dd_housale.phone_n %>
</p>

<p>
  <strong>Rent m:</strong>
  <%= @post_dd_housale.rent_m %>
</p>

<p>
  <strong>Site source:</strong>
  <%= @post_dd_housale.site_source %>
</p>

<p>
  <strong>Up time:</strong>
  <%= @post_dd_housale.up_time %>
</p>

<%= link_to 'Edit', edit_post_dd_housale_path(@post_dd_housale) %> |
<%= link_to 'Back', post_dd_housales_path %>
