<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_ulo.title %>
</p>

<p>
  <strong>Ct name:</strong>
  <%= @post_ulo.ct_name %>
</p>

<p>
  <strong>Unique code:</strong>
  <%= @post_ulo.unique_code %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @post_ulo.detail_url %>
</p>

<p>
  <strong>Upload time:</strong>
  <%= @post_ulo.upload_time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post_ulo.content %>
</p>

<p>
  <strong>Phone n:</strong>
  <%= @post_ulo.phone_n %>
</p>

<p>
  <strong>Rent m:</strong>
  <%= @post_ulo.rent_m %>
</p>

<p>
  <strong>Site source:</strong>
  <%= @post_ulo.site_source %>
</p>

<p>
  <strong>Up time:</strong>
  <%= @post_ulo.up_time %>
</p>

<%= link_to 'Edit', edit_post_ulo_path(@post_ulo) %> |
<%= link_to 'Back', post_ulos_path %>
