<%-#encoding: utf-8%>
<h1>
分类数据抓取页面
</h1>

<br/>
<h3>
抓取行数
</h3>
<%= select_tag "grab_lines", "<option>10</option><option>20</option><option>30</option><option>40</option><option>50</option>".html_safe %>
<br/>

<script>
  $('document').ready(function(){
    $('form').append('<input id="default" type="hidden" name="post[grab_lines]" value="10">')
    $('#grab_lines').change(function(){
      var line_number = $('#grab_lines').val();
      $('form input#default').empty();
      $('form').append('<input type="hidden" name="post[grab_lines]" value="'+ line_number +'">')
    });
  });
</script>
<table>
	<tr>
		<td>
      <%= button_to '大地360-租房信息', grab_dadi_posts_path, method: :post %>
		</td>
		
		<td>
			<%= button_to '大地360-房屋买卖', grab_dd_housale_post_dd_housales_path, method: :post%>
		</td>

		<td>
			<%= button_to '大地360-生意转让', grab_dd_busitran_post_dd_busitrans_path, method: :post%>
		</td>

		<td>
			<%= button_to '大地360-招聘请人', grab_dd_recruit_post_recruits_path, method: :post%>
		</td>

		<td>
			<%= button_to '大地360-汽车买卖', grab_dd_car_post_dd_cars_path, method: :post%>
		</td>
	</tr>
	
	<tr>
		<td>
			<%= button_to '美国生活在线-租房信息', grab_ulo_housrent_post_ulo_housrents_path, method: :post%>
		</td>
		
		<td>
			<%= button_to '美国生活在线-房屋买卖', grab_ulo_houesale_post_ulo_houesales_path, method: :post%>
		</td>
		
		<td>
			<%= button_to '美国生活在线-生意转让', grab_ulo_busitran_post_ulo_busitrans_path, method: :post%>
		</td>
	</tr>
</table>