<%-#encoding: utf-8%>
<h1>
分类数据抓取页面
</h1>

<h3>
number:
</h3>
<%= select_tag "grab_lines", "<option>10</option><option>20</option><option>30</option><option>40</option><option>50</option>".html_safe %>

<script>
  $('document').ready(function(){
    $('form').append('<input id="default" type="hidden" name="post[grab_lines]" value="10">')
    $('#grab_lines').change(function(){
      var line_number = $('#grab_lines').val();
      $('form input#default').empty();
      $('form').append('<input type="hidden" name="post[grab_lines]" value="'+ line_number +'">')
    });
  });
</script>
<table>
	<tr>
		<td>
      <%= button_to '大地360-租房信息', grab_dadi_posts_path, method: :post %>
		</td>
		
		<td>
			<%= button_to '大地360-房屋买卖', {controller: 'post_dd_housales', action: 'index'}, method: :get%>
		</td>

		<td>
			<%= button_to '大地360-生意转让', {controller: 'post_dd_busitrans', action: 'index'}, method: :get%>
		</td>

		<td>
			<%= button_to '大地360-招聘请人', {controller: 'post_recruits', action: 'index'}, method: :get%>
		</td>

		<td>
			<%= button_to '大地360-汽车买卖', {controller: 'post_dd_cars', action: 'index'}, method: :get%>
		</td>
	</tr>
	
	<tr>
		<td>
			<%= button_to '美国生活在线-租房信息', {controller: 'post_ulo_housrents', action: 'index'}, method: :get%>
		</td>
		
		<td>
			<%= button_to '美国生活在线-房屋买卖', {controller: 'post_ulo_houesales', action: 'index'}, method: :get%>
		</td>
		
		<td>
			<%= button_to '美国生活在线-生意转让', {controller: 'post_ulo_busitrans', action: 'index'}, method: :get%>
		</td>
	</tr>
</table>