<h1>Listing post_ulo_houesales</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Ct name</th>
      <th>Unique code</th>
      <th>Detail url</th>
      <th>Upload time</th>
      <th>Content</th>
      <th>Phone n</th>
      <th>Rent m</th>
      <th>Site source</th>
      <th>Up time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_ulo_houesales.each do |post_ulo_houesale| %>
      <tr>
        <td><%= post_ulo_houesale.title %></td>
        <td><%= post_ulo_houesale.ct_name %></td>
        <td><%= post_ulo_houesale.unique_code %></td>
        <td><%= post_ulo_houesale.detail_url %></td>
        <td><%= post_ulo_houesale.upload_time %></td>
        <td><%= post_ulo_houesale.content %></td>
        <td><%= post_ulo_houesale.phone_n %></td>
        <td><%= post_ulo_houesale.rent_m %></td>
        <td><%= post_ulo_houesale.site_source %></td>
        <td><%= post_ulo_houesale.up_time %></td>
        <td><%= link_to 'Show', post_ulo_houesale %></td>
        <td><%= link_to 'Edit', edit_post_ulo_houesale_path(post_ulo_houesale) %></td>
        <td><%= link_to 'Destroy', post_ulo_houesale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post ulo houesale', new_post_ulo_houesale_path %>
