<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_ulo_houesale.title %>
</p>

<p>
  <strong>Ct name:</strong>
  <%= @post_ulo_houesale.ct_name %>
</p>

<p>
  <strong>Unique code:</strong>
  <%= @post_ulo_houesale.unique_code %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @post_ulo_houesale.detail_url %>
</p>

<p>
  <strong>Upload time:</strong>
  <%= @post_ulo_houesale.upload_time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post_ulo_houesale.content %>
</p>

<p>
  <strong>Phone n:</strong>
  <%= @post_ulo_houesale.phone_n %>
</p>

<p>
  <strong>Rent m:</strong>
  <%= @post_ulo_houesale.rent_m %>
</p>

<p>
  <strong>Site source:</strong>
  <%= @post_ulo_houesale.site_source %>
</p>

<p>
  <strong>Up time:</strong>
  <%= @post_ulo_houesale.up_time %>
</p>

<%= link_to 'Edit', edit_post_ulo_houesale_path(@post_ulo_houesale) %> |
<%= link_to 'Back', post_ulo_houesales_path %>
